<h2>All Employees</h2>
<a href="/add">Add New Employee</a>
<table border="1" cellpadding="5" cellspacing="0">
    <tr>
        <th>Company</th>
        <th>Name</th>
        <th>Position</th>
        <th>Expiry</th>
        <th>Email</th>
        <th>WhatsApp</th>
        <th>Actions</th>
    </tr>
    {% for emp in all_employees %}
    <tr>
        <td>{{ emp['Company'] }}</td>
        <td>{{ emp['Name'] }}</td>
        <td>{{ emp['Position'] }}</td>
        <td>{{ emp['Expiry'] }}</td>
        <td>{{ emp['Email'] }}</td>
        <td>{{ emp['WhatsAppNumber'] }}</td>
        <td>
            <a href="/edit/{{ emp['Company'] }}/{{ emp['Name'] }}">Edit</a>
        </td>
    </tr>
    {% endfor %}
</table>
